<form class="p-6">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16 m-auto stroke-amber-500">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
  
  <p class="text-justify">
    Tem certeza de que deseja remover este post? O post será removido
    permanentemente de nossos servidores para sempre. Essa ação não pode ser
    desfeita.
  </p>
  <div class="flex gap-3 justify-end">
    <button type="button" class="bg-transparent hover:bg-gray-200 text-blue-700 font-semibold hover:text-blue-500 py-2 px-4 border border-blue-500 hover:border-transparent rounded" (click)="dialogRef.close()">Fechar</button>
    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="handleSubmit($event)">Deletar</button>
  </div>
</form>
